@import "../../../sytles/style/style.scss";

.passwords {
    .email-user {
        border: none;

        &:focus {
            outline: none;
        }
    }

    .character,
    .digit {
        position: relative;
        padding-left: 13px;

        &:after {
            content: "•";
            position: absolute;
            top: 0px;
            left: 0px;
            color: $white;
        }

        &.dangerStatus {
            &:after {
                content: "\f62a";
                font-family: bootstrap-icons;
                position: absolute;
                top: 3px;
                left: -2px;
                color: $red;
                font-size: 14px;
            }
        }

        &.successStatus {
            &:after {
                content: "✓";
                font-family: bootstrap-icons;
                position: absolute;
                top: 0px;
                left: 0px;
                color: $greenSuccessProfile;
            }
        }
    }
}