/* 
******************************************
 Theme
******************************************
*/

/* default color */
.Profile {
    --txt-color: #1B4746;
    --bg-color: #033;
    --primary-color: #D9946D;
    --secondary-color: #1B4746;
    --secondary-color-hover: #008475;
    --secondary-color-success: #8DD990;
}

/* dark mode */
.DarkMode {
    --txt-color: red;
    --bg-color: black;
    --primary-color: blue;
    --secondary-color: orange;
    --secondary-color-hover: blue;
    --secondary-color-success: purple;
}

/* light mode */
.lightMode {
    --txt-color: red;
    --bg-color: black;
    --primary-color: red;
    --secondary-color: orange;
    --secondary-color-hover: blue;
    --secondary-color-success: purple;
}