@import '../style/style.scss';

.contentTab {
    max-width: 730px;
    margin: 0 auto;

    .field {
        border: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        color: var(--primary-color);
    }

    .legends {
        font-size: 2rem;
        line-height: 3rem;
        letter-spacing: 0.5px;
        font-weight: 700;
        text-align: center;
    }

    .stepField {
        width: 100%;
    }

    .form-label {
        margin: 10px 0;
        font-family: $font-rustica-500;
    }
}