@import "../../../sytles/style/style.scss";

.emailConfirm {
    color: var(--txt-color);
    align-items: center;

    .email-review {
        padding: 7px 10px;
        margin-bottom: 42px
    }

    .btn-copy {
        background-color: transparent;
        border: 1px solid hsla(0, 0%, 100%, .3);
        border-radius: 2px;
        // padding: 0px 30px;
        padding: 3px 8px;
        width: 80px;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            background-image: url("../../../../public/Image/icon_copy.svg");
            background-repeat: no-repeat;
            width: 20px;
            height: 30px;
            top: 7px;
            left: 6px;
        }

        // width: 90px;
    }

    .copy {
        &-icon {
            text-align: left;
        }
    }

    .main-content-desc {
        margin-top: 40px !important;
        margin-bottom: 35px !important;
    }

    .telPhone {
        color: var(--primary-text-color);
    }
}