/* 
******************************************
 Theme
******************************************

*/

/* default color */
:root {
    --txt-color: $blackjack;
    --bg-color: orange;
    --primary-color: green;
    --secondary-color: orange;
    --secondary-color-hover: blue;
    --secondary-color-success: purple;
}

/* dark mode */
.darkMode {
    --txt-color: red;
    --bg-color: black;
    --primary-color: blue;
    --secondary-color: orange;
    --secondary-color-hover: blue;
    --secondary-color-success: purple;
}

/* light mode */
.lightMode {
    --txt-color: red;
    --bg-color: black;
    --primary-color: red;
    --secondary-color: orange;
    --secondary-color-hover: blue;
    --secondary-color-success: purple;
}