@import "../variables/variables.scss";
@import "../global/mixin.scss";

body {
    font-family: $font-rustica-300;
    color: var(--txt-color);
    background-color: var(--bg-color);
    @include font-size($base-font-size);
}

.form-control {
    padding: .688rem .75rem;
    @include input-style;
}

h1,
.h1,
h2,
.h2 {
    @include header-style;
}

h1,
.h1 {
    @include font-size-m($font-size-28);

    @include media-size(big-mobile) {
        @include font-size($font-size-32);
    }
}

h2,
.h2 {
    @include font-size-m($font-size-28);
    // @include header-style-underline;

    @include media-size(big-mobile) {
        @include font-size($font-size-32);
    }
}

h3,
.h3 {
    text-align: left;
    @include font-size-m($font-size-20);
    font-family: $font-rustica-500;

    &::after {
        display: none;
    }
}